$primary: #00365b; // Primary color
$secondary: #05446e; // Secondary color
$success: #28a745; // Success color
$info: #17a2b8; // Info color
$warning: #ffc107; // Warning color
$danger: #dc3545; // Danger color
$light: #f8f9fa; // Light color
$dark: #343a40; // Dark color

// Customizing Bootstrap variables
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);
