<div class="card">

    <!-- Header section of card -->
    <div class="card-header">
        <h1>Registration</h1>
    </div>

    <!-- Body Of card -->
    <div class="card-body">

        <!-- Email Id -->
        <div class="mt-2">
            <input type="text" class="form-control" placeholder="Enter your name">
        </div>

        <!-- Email Id -->
        <div class="mt-2">
            <input type="email" class="form-control" placeholder="Enter your email id">
        </div>


        <!-- Password -->
        <div class="mt-2">
            <input type="password" class="form-control" placeholder="Enter your password">
        </div>

    </div>


    <!-- Footer section of card -->
    <div class="card-footer">
        <button class="btn btn-primary">Register yourself</button>
        <button class="btn btn-warning" routerLink="/login">Sign in</button>

    </div>

</div>